html {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  color: white;
}

body {
  margin: 0;
  color: white;
  height: 100vh;
}

#root {
  height: 100%;
}

.report-box {
  height: 72px;
  padding: 8px;
}

.report-box p {
  text-align: right;
}

.report-box-header {
  display: flex;
  justify-content: space-between;
}
